<header class="navbar navbar-dark bg-dark">
  <a class="navbar-brand atrium-logo" href="/">
    <i class="material-icons">menu</i>
    <img src="assets/images/logo-navbar-white.png" />
  </a>
  <button class="btn btn-primary btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
    Log In
  </button>
  <button class="btn btn-primary btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
    Log Out
  </button>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-2 col-xl-1 sidebar navbar-dark bg-dark">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-8 col-md-8 col-xl-11">
      <div>
          <button class="btn btn-primary btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
              Log In
          </button>
      </div>
      <div [hidden]="!loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>