<header class="navbar navbar-dark bg-dark">
  <a class="navbar-brand atrium-logo" href="/">
    <i class="material-icons">menu</i>
    <img src="assets/images/atriumLogo.svg"/>
  </a>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2 col-xl-1 sidebar navbar-dark bg-dark">
      <nav class="navbar-nav flex-column ">
        <a class="nav-link active" href="/">
          <i class="material-icons">home</i>
          <span>Testing</span>
        </a>
      </nav>
    </div>
    <main class="col-12 col-md-8 col-xl-9">
      <h1>Welcome to app!</h1>
      <kendo-grid [data]="gridData" [height]="410">
        <kendo-grid-column field="ProductID" title="ID" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="Category.CategoryName" title="Category">
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Price" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </main>
  </div>
</div>

