<header class="navbar navbar-dark bg-dark">
  <a class="navbar-brand atrium-logo" href="/">
    <i class="material-icons">menu</i>
    <img src="assets/images/atriumLogo.svg"/>
  </a>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 col-xl-2 sidebar navbar-dark bg-dark">
      <nav class="navbar-nav flex-column ">
          <a class="nav-link active" href="/">
            <i class="material-icons">home</i>
            <span>Testing</span>
          </a>
          <a class="nav-link" href="/">
            Testing
          </a>
          <a class="nav-link" href="/">Testing</a>
      </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-8">
      <h1>Content</h1>
    </main>
  </div>
</div>

