$purple: #9276C6;
$dark: #59236F;
$red: #a94442;
$green: #42a948;

$theme-colors: (
  "primary": $purple,
  "dark": $dark
);

body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #444444;
}

i.material-icons{
  font-size: 1rem;
}

.k-grid{

  tr{
    background-color: rgb(251, 251, 251);

    &:hover{
      background-color: $purple;
      color: white;
    }

    &.k-state-selected{
      background-color: $purple;
    }

    &.k-alt:hover{
      background-color: $purple;
      box-shadow: none;
    }
  }

  td{

    padding: .4em .6em;
    font-size: 11px;
    line-height: 1.6em;
    border-color: #dedee0;
    cursor: pointer;

  }

  .k-alt{
    background-color: rgb(255, 255, 255);
  }

}

.k-state-selected {
  background-color: $purple;
}

.k-pager-wrap{

  .k-state-selected{

    &:focus, &:hover {

      background-color: $purple;
      box-shadow: none;

    }
  }
}

.k-grid-header{

  th.k-header{

    padding: .5em .6em .4em .6em;
    font-weight: 400;
    border-color: #ceced2;
    font-size: 11px;

    a{
      padding: .5em .6em .4em .6em;
      font-weight: 400;
      border-color: #ceced2;
      font-size: 11px;
    }
  }
}

.k-window > .k-header {
  background-color: $dark;
  padding: 0.4em 1em;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid $green;
}

.ng-invalid:not(form) {
  border-left: 5px solid $red;
}

.form-control:focus, .has-error .form-control:focus,
.has-success .form-control:focus, .has-warning .form-control:focus {
  border-color: $green;
}

.k-pager-numbers{

  .k-link, .k-left:link{
    color: $purple;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@progress/kendo-theme-default/scss/variables";
@import "../node_modules/@progress/kendo-theme-default/scss/grid";

