$purple: #9276C6;
$dark: #59236F;
$red: #a94442;
$green: #42a948;
$accent: $purple;
$success: $green;
$font-size-base: 0.9rem;
$border-radius: 2px;

$theme-colors: (
  "primary": $purple,
  "dark": $dark
);


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@progress/kendo-theme-default/scss/variables";
@import "../node_modules/@progress/kendo-theme-default/scss/grid";
@import "../node_modules/@progress/kendo-theme-default/scss/calendar";
@import "../node_modules/@progress/kendo-theme-default/scss/autocomplete";
@import "../node_modules/@progress/kendo-theme-default/scss/colorpicker";
@import "../node_modules/@progress/kendo-theme-default/scss/combobox";
@import "../node_modules/@progress/kendo-theme-default/scss/datetime";
@import "../node_modules/@progress/kendo-theme-default/scss/dropdownlist";
@import "../node_modules/@progress/kendo-theme-default/scss/editor";
@import "../node_modules/@progress/kendo-theme-default/scss/input";
@import "../node_modules/@progress/kendo-theme-default/scss/multiselect";
@import "../node_modules/@progress/kendo-theme-default/scss/numerictextbox";
@import "../node_modules/@progress/kendo-theme-default/scss/validator";
@import "../node_modules/@progress/kendo-theme-default/scss/switch";
@import "../node_modules/@progress/kendo-theme-default/scss/maskedtextbox";
@import "../node_modules/@progress/kendo-theme-default/scss/listbox";

@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #444444;
}

i.material-icons{
  font-size: 1rem;
}

.k-grid{

  tr{
    background-color: rgb(251, 251, 251);

    &:hover{
      background-color: $purple;
      color: white;
    }

    &.k-state-selected{
    }

    &.k-alt:hover{
      box-shadow: none;
    }
  }

  td{

    padding: .4em .6em;
    font-size: 11px;
    line-height: 1.6em;
    border-color: #dedee0;
    cursor: pointer;

  }

  .k-alt{
    background-color: rgb(255, 255, 255);
  }

}

.k-pager-wrap{

  .k-state-selected{

    &:focus, &:hover {
      box-shadow: none;
    }
  }
}

.k-grid-header{

  th.k-header{

    padding: .5em .6em .4em .6em;
    font-weight: 400;
    border-color: #ceced2;
    font-size: 11px;

    a{
      padding: .5em .6em .4em .6em;
      font-weight: 400;
      border-color: #ceced2;
      font-size: 11px;
    }
  }
}

.k-window > .k-header {
  background-color: $dark;
  padding: 0.4em 1em;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid $green;
}

.ng-invalid:not(form) {
  border-left: 5px solid $red;
}

.form-control:focus, .has-error .form-control:focus,
.has-success .form-control:focus, .has-warning .form-control:focus {
  border-color: $green;
  box-shadow: none;
}

.k-calendar { margin: 0 auto; }

h1,h2,h3,h4{
  margin: 20px 0;
}

main{
  height: calc(100vh - 3.5rem);
  overflow: auto;
}
